*{ 	Margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	width: 100vw;
	height: 100vh;
	/*  background-color: grey;*/
} 
img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}